.App {
  text-align: center;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(https://thumbs.gfycat.com/RingedSpicyKodiakbear-size_restricted.gif);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardRow {
  padding-top: 1%;
  color: black;
}

.cardFrame {
  width: 50%;
}

.message {
  font-size: 50%
}

.noMarginAlert {
  margin-bottom: 0% !important;
  opacity: 85%;
}